{include 'header.html'};
<link rel="stylesheet" href="{CSS_PATH}comment.css">
<script type="text/javascript"  src="{JS_PATH}/upload.js"></script>
<main>
    <h3>发表内容</h3>
    <div class="left">
        <h5>
            <a href="">
                我发表过的内容
            </a>
        </h5>
    </div>
    <div class="right">
        <form method="post" action="index.php?d=index&f=member&m=submit">
            <div class="form-group">
                <label>所属话题</label>
                <select class="form-control" name="cid">
                    {$res}
                </select>
            </div>
            <div class="form-group">
                <label>文章标题</label>
                <input type="text" class="form-control"  placeholder="文章标题" name="stitle">
            </div>
            <div class="form-group">
                <label>文章关键字</label>
                <input type="text" class="form-control"  placeholder="关键字" name="keyword">
            </div>
            <div class="form-group">
                <label>文章内容</label>
                <div class="baidu_editor">
                    <!-- 加载编辑器的容器 -->
                    <script id="container" name="scon" type="text/plain">请输入您想发表的内容！</script>
                    <!-- 配置文件 -->
                    <script type="text/javascript" src="{LIBS_PATH}utf8-php/ueditor.config.js"></script>
                    <!-- 编辑器源码文件 -->
                    <script type="text/javascript" src="{LIBS_PATH}utf8-php/ueditor.all.js"></script>
                    <!-- 实例化编辑器 -->
                    <script type="text/javascript">
                        let ue = UE.getEditor('container');
                    </script>
                </div>
            </div>
            <div class="form-group">
                <label>推荐位置</label>
                {foreach $arr as $v}
                <div class="checkbox" style="margin-left:20px;">
                    <input type="checkbox" name="pid[]" value="{$v['pid']}">{$v["pname"]}
                </div>
                {/foreach}
            </div>
            <div class="form-group">
                <label>上传图片</label>
                <div class="parent">

                    <input type="hidden" name="simage">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</main>
<script>
    let obj = new upload();
    obj.size = 1024 * 1024 * 8.6;
    obj.selectBtnStyle.background = "#BD4932";
    obj.createView({
        parent: document.querySelector(".parent")
    });
    obj.up("index.php?d=index&f=member&m=upload",function(data){
        document.querySelector("input[name='simage']").value=data;
    });
</script>
{include "footer.html"}